<div class="basecss-ext body-font-family">
    <style type="text/css">
        .basecss-ext div {
            padding: 10px;
            height: 100%;
        }
    </style>

    <div>
        <p class="ss-text-primary ss-text-lg">标题文本: ss-text-primary ss-text-lg</p>
        <p class="ss-text-secondary ss-text-sm">主要文本: ss-text-secondary ss-text-sm</p>
        <p class="ss-text-extra text-xs">辅助文本: text-extra text-xs</p>
    </div>

    <div>
        <p class="ss-text-warning">样式名: ss-text-warning</p>
        <p class="ss-text-danger">样式名: ss-text-danger</p>
        <p class="ss-text-info">样式名: ss-text-info</p>
    </div>

    <div>
        <p><a class="ss-primary">可点击文本样式: a.ss-primary</a></p>
        <p><a class="ss-primary ss-add-space">可点击文本样式: a.ss-primary a.ss-add-space</a></p>
        <p><a class="ss-primary" disabled>可点击文本样式: a.ss-primary, disabled</a></p>
    </div>

    <div>
        <p><a class="ss-extra">可点击文本样式: a.ss-extra</a></p>
        <p><a class="ss-extra ss-add-space">可点击文本样式: a.ss-extra a.ss-add-space</a></p>
        <p><a class="ss-extra" disabled>可点击文本样式: a.ss-extra, disabled</a></p>
    </div>
</div>