<div class="basecss_inputs_text">
    <style type="text/css">
        .basecss_inputs_text div {
            margin: 0.5rem;
        }

            .basecss_inputs_text div > * {
                margin: 0.25rem;
            }
    </style>

    <div>
        <input type="text" value="" class="ss-input-text ss-input-text-sm" />
        <input type="text" value="ABC" class="ss-input-text ss-input-text-sm" />
        <input type="text" value="" class="ss-input-text ss-input-text-sm" disabled />
        <input type="text" value="ABC" class="ss-input-text ss-input-text-sm" disabled />
    </div>
    <div>
        <input type="text" value="" class="ss-input-text ss-input-text-lg" />
        <input type="text" value="ABC" class="ss-input-text ss-input-text-lg" />
        <input type="text" value="" class="ss-input-text ss-input-text-lg" disabled />
        <input type="text" value="ABC" class="ss-input-text ss-input-text-lg" disabled />
    </div>
</div>