/********************************************************************************
class: basecss.Background
********************************************************************************/

.ss_bg_primary {
    /*background: #161819;*/
    background: #161819;
}

.ss_bg_secondary {
    background: #232628;
}

.ss_bg_extra {
    background: #333739;
}