<div class="basecss-button">
    <style type="text/css">
        .basecss-button div{
            margin: 0.5rem;
        }

        .basecss-button div > span {
            width: 40%;
            float: left;
        }
    </style>

    <div>
        <span>
            <p class="ss-text-lg ss-text-primary">常规按钮</p>
            <p>
                <button type="button" class="ss-btn ss-btn-info">按钮:</button>
                <span class="ss-text-secondary">ss-btn ss-btn-info </span>
            </p>
            <p>
                <button type="button" class="ss-btn ss-btn-danger">按钮:</button>
                <span class="ss-text-secondary">ss-btn ss-btn-danger</span>
            </p>
            <p>
                <button type="button" class="ss-btn ss-btn-warning">按钮:</button>
                <span class="ss-text-secondary">ss-btn ss-btn-warning</span>
            </p>
            <p>
                <button type="button" class="ss-btn ss-btn-gray">按钮:</button>
                <span class="ss-text-secondary">ss-btn ss-btn-gray</span>
            </p>
            <p>
                <button type="button" class="ss-btn" disabled>按钮:</button>
                <span class="ss-text-secondary">ss-btn disabled</span>
            </p>
        </span>

            <span>
            <p class="ss-text-lg ss-text-primary">小号按钮</p>
            <p>
                <button type="button" class="ss-btn-sm ss-btn-info">按钮:</button>
                <span class="ss-text-secondary">ss-btn-sm ss-btn-info</span>
            </p>
            <p>
                <button type="button" class="ss-btn-sm ss-btn-danger">按钮:</button>
                <span class="ss-text-secondary">ss-btn-sm ss-btn-danger</span>
            </p>
            <p>
                <button type="button" class="ss-btn-sm ss-btn-warning">按钮:</button>
                <span class="ss-text-secondary">ss-btn-sm ss-btn-warning</span>
            </p>
            <p>
                <button type="button" class="ss-btn-sm ss-btn-gray">按钮:</button>
                <span class="ss-text-secondary">ss-btn-sm ss-btn-gray</span>
            </p>
            <p>
                <button type="button" class="ss-btn-sm" disabled>按钮:</button>
                <span class="ss-text-secondary">ss-btn-sm disabled</span>
            </p>
        </span>
    </div>
</div>